#canvas {
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    overflow: hidden;
}

#canvas #room {
    position: absolute; 
    top: 0;
    left: 0;
    max-width: 100%; 
    max-height: 100%;
    border: 2px solid black;
    z-index: 1;
}

#room {
    position: relative;
    /* position: absolute; */
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    
}

#roomleft {
    position: absolute;
    top: 0;
    left: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

#roomright {
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

#roomtop {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
}

#roombottom {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
}

#canvas #kitchen {
    position: absolute; 
    top: 0;
    left: 300px;
    max-width: 100%; 
    max-height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid rgb(161, 18, 18);
}

#kitchen {
    position: relative;
    /* position: absolute; */
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    
}

#kitchenleft {
    position: absolute;
    top: 0;
    left: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

#kitchenright {
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

#kitchentop {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
}

#kitchenbottom {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
}


#canvas #bathroom {
    position: absolute; 
    top: 220px;
    left: 150px;
    max-width: 100%; 
    max-height: 100%;
    border: 2px solid rgb(161, 18, 18);
}

#bathroom {
    position: relative;
    /* position: absolute; */
    width: 200px;
    height: 180px;
    bottom: 0;
}

#bathroomleft {
    position: absolute;
    top: 0;
    left: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

#bathroomright {
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

#bathroomtop {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
}

#bathroombottom {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
}